NS_MARIADB_DATABASE="qshare"
NS_MARIADB_HOSTNAME="127.0.0.1"
NS_MARIADB_PASSWORD="secret"
NS_MARIADB_PORT="3306"
NS_MARIADB_USER="qshare"

PORT=3000
CORS_ALLOWED_ORIGINS=""
RUST_LOG="qshare_backend=info,tower_http=info"
